.chat-main
  .main__header
    .left-header
      .left-header__group
        = @group.name
      .menber-list
        - @group.users.each do |user|
          = user.name
    .right-header
      .right-header__content
        = link_to "Edit", edit_group_path(@group.id), class: "right-header__content__btn"
  
  .chat-main__message
    = render @messages


  .chat-main__footer
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'